---
import "./global.css";
---

<div class="card">
  <div class="list">
    <div class="item">
      <div class="scale">
        <div class="scale__track"></div>
        <div id="clipPath" class="scale__fill scale__fill--gradient clip--path">
        </div>
        <div class="scale__marker"></div>
      </div>
    </div>
  </div>
</div>

<script>
  import { getHoleData } from "./utils/getHoleData.js";

  const fillElement = document.querySelector("#clipPath") as HTMLElement;

  function updateClipPath(el: HTMLElement) {
    const width = el.clientWidth;
    const height = el.clientHeight;

    const { x, yTop, yBottom, r } = getHoleData(el);

    const path = [
      "M 0 0",
      `H ${width}`,
      `V ${height}`,
      "H 0",
      "Z",
      `M ${x} ${yTop}`,
      `A ${r} ${r} 0 1 0 ${x} ${yBottom}`,
      `A ${r} ${r} 0 1 0 ${x} ${yTop}`,
    ].join(" ");

    el.style.clipPath = `path(evenodd, "${path}")`;
  }

  const observer = new ResizeObserver((entries) => {
    for (const entry of entries) {
      if (!entry.target) {
        return;
      }

      updateClipPath(entry.target as HTMLElement);
    }
  });

  observer.observe(fillElement);
  updateClipPath(fillElement);
</script>
