---
import { getLocalizedUrl } from "~/utils/getLocalizedPath";
import { TAGS } from "../../i18n/ui";
import { styles } from "./TagList.css";
import { getCurrentLocale } from "~/i18n/utils";

interface Props {
  entries: Array<{
    title: string;
    tag: keyof typeof TAGS;
    total: number;
  }>;
}

const currentLocale = getCurrentLocale(Astro);

const { entries } = Astro.props;
---

<ul class={styles.list}>
  {
    entries.map((entry) => (
      <li class={styles.item}>
        <a
          href={getLocalizedUrl(currentLocale, `/tags/${entry.tag}`)}
          class={styles.link}
          data-astro-prefetch
        >
          {TAGS[entry.tag][currentLocale]} ({entry.total})
        </a>
      </li>
    ))
  }
</ul>
