---
import type { CollectionEntry } from "astro:content";

import PageLayout from "~/layouts/Page/Page.astro";
import Container from "~/components/Container/Container.astro";
import ArticleList from "~/components/ArticleList/ArticleList.astro";
import { getCurrentLocale, useTranslations } from "~/i18n/utils";
import { TAGS, type Language } from "~/i18n/ui";
import { styles } from "./TagPage.css";
import VideoList from "~/components/VideoList/VideoList.astro";

interface Props {
  articles: Array<CollectionEntry<"articles">>;
  videos: Array<CollectionEntry<"videos">>;
  tag: keyof typeof TAGS;
}

const currentLocale = getCurrentLocale(Astro);
const { articles, videos, tag } = Astro.props;

const t = useTranslations(currentLocale as Language);
---

<PageLayout>
  <div class={styles.root}>
    <Container>
      <div class={styles.wrapper}>
        <h1 class={styles.title}>
          {t("tagPage.title.main")}
          <span class={styles.tag}>{TAGS[tag][currentLocale]}</span>
        </h1>

        {
          articles.length > 0 && (
            <section>
              <h2 class={styles.title} id="articles">
                {t("tagPage.title.articles")}
              </h2>
              <ArticleList entries={articles} />
            </section>
          )
        }

        {
          videos.length > 0 && (
            <section>
              <h2 class={styles.title} id="videos">
                {t("tagPage.title.videos")}
              </h2>
              <VideoList entries={videos} />
            </section>
          )
        }
      </div>
    </Container>
  </div>
</PageLayout>
