---
import PageLayout from "~/layouts/Page/Page.astro";
import Container from "~/components/Container/Container.astro";
import ArticleList from "~/components/ArticleList/ArticleList.astro";
import { useTranslations } from "~/i18n/utils";
import { DEFAULT_LANG, type Language } from "~/i18n/ui";
import { styles } from "./TagPage.css";

const { currentLocale = DEFAULT_LANG } = Astro;
const { entries, tag } = Astro.props;

const t = useTranslations(currentLocale as Language);
---

<PageLayout>
  <section class={styles.section}>
    <Container>
      <h1 class={styles.title} id="articles">
        {t("tagPage.title")}
        <span class={styles.tag}>{tag}</span>
      </h1>
      <ArticleList entries={entries} />
    </Container>
  </section>
</PageLayout>
