---
import type { CollectionEntry } from "astro:content";

import ArticleHeader from "~/components/ArticleHeader/ArticleHeader.astro";
import BaseLayout from "~/layouts/Base/Base.astro";
import Container from "~/components/Container/Container.astro";
import ShareArticle from "~/components/ShareArticle/ShareArticle.astro";
import { styles } from "./Article.css";
import ArticleFooter from "~/components/ArticleFooter/ArticleFooter.astro";

type Props = CollectionEntry<"articles">["data"] & {
  slug: string;
  collection: string;
};

const { title, publishedTime, modifiedTime, tags, slug, collection } =
  Astro.props;
---

<BaseLayout {...Astro.props}>
  <Container>
    <ArticleHeader
      title={title}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime}
      tags={tags}
    />
    <div class={styles.body}>
      <slot />
    </div>
    <ArticleFooter slug={slug} collection={collection} />
  </Container>
  <ShareArticle title={title} />
</BaseLayout>
