---
import { styles } from "./ArticleEntry.css";

interface Props {
  titleLevel: number;
  title: string;
  description: string;
  href: string;
}

const { titleLevel, title, description, href } = Astro.props;

const TitleTag = `h${titleLevel}`;
---

<article class={styles.entry}>
  <a href={href} class={styles.link} data-astro-prefetch>
    <TitleTag class:list={[styles.title]}>{title}</TitleTag>
    {description && <p class={styles.description}>{description}</p>}
  </a>
</article>
