---
import NavLink from "../NavLink/NavLink.astro";
import { styles } from "./Subscriptions.css";
import { getCurrentLocale, useTranslations } from "../../i18n/utils";
import { type Language } from "../../i18n/ui";
import { removeTrailingSlash } from "~/utils/removeTrailingSlash";

const currentLocale = getCurrentLocale(Astro);

const t = useTranslations(currentLocale as Language);

const subscriptions = {
  youtube: {
    link: t("subscribe.youtube.url"),
    title: t("subscribe.youtube.title"),
  },
  linkedin: {
    link: "https://www.linkedin.com/in/aleksandr-slugin/",
    title: t("subscribe.linkedin"),
  },
  telegram: {
    link: t("subscribe.telegram.url"),
    title: t("subscribe.telegram.title"),
  },
  rss: {
    link: removeTrailingSlash(
      new URL(`rss/${currentLocale}.xml`, Astro.site).toString(),
    ),
    title: t("subscribe.rss"),
  },
  github: {
    link: "https://github.com/Skandar",
    title: t("subscribe.github"),
  },
};
---

<section>
  <h2 class={styles.title} id="find-me-online">{t("subscribe.title")}</h2>
  <ul class={styles.list}>
    {
      Object.values(subscriptions).map(({ link, title }) => (
        <li>
          <NavLink href={link} rel="noopeneer noreferrer" target="_blank">
            {title}
          </NavLink>
        </li>
      ))
    }
  </ul>
</section>
